@model IEnumerable<Organi.Za.Organizaciju.Data.Zanimanje>

@{
    ViewData["Title"] = "ZanimanjaReport";
}

<h2>Popis zanimanja</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
        </tr>
}
    </tbody>
</table>
