@model Organi.Za.Organizaciju.Data.Lokacija

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lokacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Mjesto" class="control-label"></label>
                <input asp-for="Mjesto" class="form-control" />
                <span asp-validation-for="Mjesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drzava" class="control-label"></label>
                <input asp-for="Drzava" class="form-control" />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostanskiBroj" class="control-label"></label>
                <input asp-for="PostanskiBroj" class="form-control" />
                <span asp-validation-for="PostanskiBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeografskaSirina" class="control-label"></label>
                <input asp-for="GeografskaSirina" class="form-control" />
                <span asp-validation-for="GeografskaSirina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeografskaDuzina" class="control-label"></label>
                <input asp-for="GeografskaDuzina" class="form-control" />
                <span asp-validation-for="GeografskaDuzina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LokalniNaziv" class="control-label"></label>
                <input asp-for="LokalniNaziv" class="form-control" />
                <span asp-validation-for="LokalniNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
